---
import * as AstroFeather from 'astro-feather';
import { fetchEvents } from '../api/wordpress';
import EventCard from './EventCard.svelte';

export interface Props {
    pagination?: boolean;
    currentPage?: number;
}

const { pagination, currentPage = 1 } = Astro.props;
const shouldPaginate = pagination === true;
const perPage = 3;
let pages;

let events;

if (shouldPaginate) {
    events = await fetchEvents(perPage, currentPage);

    const totalEvents = await fetchEvents(); 
    const totalPages = Math.ceil(totalEvents.length / perPage);

    pages = Array.from({ length: totalPages }, (_, i) => i + 1);
} else {
    events = await fetchEvents(perPage - 1);
}
---

<ul class="flex flex-col sm:grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 w-full place-items-stretch">
    {events && events.map((event) => (
        <li class="flex items-stretch h-full">
            <EventCard 
                title={event.title} 
                href={`/event/${event.slug}`} 
                featured_media={event.featured_media} 
                genre={event.genre} 
                date={event.date} 
                city={event.location.city} 
            />
        </li>
    ))}

    {!shouldPaginate && (
        <li class="relative group bg-yellow-400 hover:bg-yellow-500 text-stone-950 p-6 rounded-3xl flex flex-col items-start justify-end transition aspect-3/2">
            <a href="/events" class="absolute rounded-3xl inset-0 z-1"><span class="sr-only top-1/2 left-1/2">Zum Eventfinder</span></a>
            <p>Nichts für dich dabei?</p>
            <p class="text-2xl font-barlow uppercase leading-none font-bold">Zum Eventfinder</p>
            <AstroFeather.ArrowRightIcon customClasses="absolute top-6 right-6 w-20 h-20 aspect-1 text-stone-950 transition pointer-events-none" />
        </li>
    )}
</ul>

{shouldPaginate && (
    <nav class="flex justify-center items-center py-8">
        {currentPage > 1 && (
            <a href="/events/1" class="p-4 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 hover:text-yellow-300">
                <AstroFeather.ChevronsLeftIcon customClasses="w-4 h-4" />
            </a>
            <a href={`/events/${currentPage - 1}`} class="p-4 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 hover:text-yellow-300">
                <AstroFeather.ChevronLeftIcon customClasses="w-4 h-4" />
            </a>
        )}

        {pages.map((pageNumber) => (
            <a 
                href={`/events/${pageNumber}`} 
                class:list={{ 
                    'p-4 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 hover:text-yellow-300': true,
                    'active': pageNumber === currentPage 
                }}
            >
                {pageNumber}
            </a>
        ))}

        {currentPage < pages.length && (
            <a href={`/events/${currentPage + 1}`} class="p-4 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 hover:text-yellow-300">
                <AstroFeather.ChevronRightIcon customClasses="w-4 h-4" />
            </a>
            <a href={`/events/${pages.length}`} class="p-4 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 hover:text-yellow-300">
                <AstroFeather.ChevronsRightIcon customClasses="w-4 h-4" />
            </a>
        )}
    </nav>
)}

<style>
    .active {
        text-decoration: none;
        pointer-events: none;
        background-color: var(--color-neutral-800);
    }
</style>