--- 
// @ts-nocheck

import * as AstroFeather from 'astro-feather';
import { fetchLocations } from '../api/wordpress';
import LocationCard from './LocationCard.svelte';

export interface Props {
    pagination?: boolean;
    currentPage?: number;
}

const { pagination, currentPage = 1 } = Astro.props;
const shouldPaginate = pagination === true;
const perPage = 3;
let pages;

let locations;

if (shouldPaginate) {
    locations = await fetchLocations(perPage, currentPage);

    const totalArtists = await fetchLocations(); 
    const totalPages = Math.ceil(totalArtists.length / perPage);

    pages = Array.from({ length: totalPages }, (_, i) => i + 1);
} else {
    locations = await fetchLocations(perPage - 1);
}
---

<ul class="flex flex-col sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-6 w-full place-items-stretch">
    {locations && locations.map((location) => (
        <li class="flex items-stretch h-full">
            <LocationCard client:load
                id={location.id}
                title={location.title} 
                href={`/location/${location.slug}`} 
                featured_media={location.featured_media}  
            />
        </li>
    ))}
</ul>

{shouldPaginate && (
    <nav class="flex justify-center items-center py-8 gap-2">
        <a 
            href={`/locations/1`} 
            class="text-sm p-2 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 text-stone-950 bg-yellow-400 hover:bg-yellow-500 transition"
            class:list={{ 'pointer-events-none opacity-50': currentPage === 1 }}
        >
            <AstroFeather.ChevronsLeftIcon customClasses="w-4 h-4" />
        </a>
        <a 
            href={`/locations/${currentPage - 1}`} 
            class="text-sm p-2 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 text-stone-950 bg-yellow-400 hover:bg-yellow-500 transition"
            class:list={{ 'pointer-events-none opacity-50': currentPage === 1 }}
        >
            <AstroFeather.ChevronLeftIcon customClasses="w-4 h-4" />
        </a>

        {pages.slice(Math.max(0, currentPage - 2), Math.min(pages.length, currentPage + 1)).map((pageNumber, index) => {
            return (
                <>
                    {((pages.length > 2 && currentPage !== 1 && index + 1 === 1) || (pages.length > 2 && currentPage === pages.length && index + 1 === 1)) && (
                        <span class="text-sm p-2 w-4 h-4 box-content! aspect-square font-bold rounded-lg flex items-center justify-center leading-1"><AstroFeather.MoreHorizontalIcon customClasses="w-4 h-4" /></span>
                    )}

                    <a 
                        href={`/locations/${pageNumber}`} 
                        class:list={{ 
                            'text-sm p-2 w-4 h-4 box-content! aspect-square font-bold rounded-lg flex items-center justify-center leading-1 hover:text-yellow-300': true,
                            'pointer-events-none bg-neutral-800': pageNumber === currentPage 
                        }}
                    >
                        {pageNumber}
                    </a>

                    {((currentPage !== pages.length && index + 1 === 3) || (pages.length > 2 && currentPage === 1 && index + 1 === 2)) && (
                        <span class="text-sm p-2 w-4 h-4 box-content! aspect-square font-bold rounded-lg flex items-center justify-center leading-1"><AstroFeather.MoreHorizontalIcon customClasses="w-4 h-4" /></span>
                    )}
                </>
            );
        })}

        <a 
            href={`/locations/${currentPage + 1}`} 
            class="text-sm p-2 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 text-stone-950 bg-yellow-400 hover:bg-yellow-500 transition"
            class:list={{ 'pointer-events-none opacity-50': currentPage === pages.length }}
        >
            <AstroFeather.ChevronRightIcon customClasses="w-4 h-4" />
        </a>
        <a 
            href={`/locations/${pages.length}`} 
            class="text-sm p-2 aspect-square font-bold rounded-lg flex items-center justify-center leading-1 text-stone-950 bg-yellow-400 hover:bg-yellow-500 transition"
            class:list={{ 'pointer-events-none opacity-50': currentPage === pages.length }}
        >
            <AstroFeather.ChevronsRightIcon customClasses="w-4 h-4" />
        </a>
    </nav>
)}